napari-training-course-master/.gitignore
napari-training-course-master/check-setup.py
napari-training-course-master/environment.yml
napari-training-course-master/LICENSE
napari-training-course-master/README.md
napari-training-course-master/requirements.txt
napari-training-course-master/binder/apt.txt
napari-training-course-master/binder/environment.yml
napari-training-course-master/binder/postBuild
napari-training-course-master/binder/start
napari-training-course-master/jupyter_desktop/jupyter_desktop.py
napari-training-course-master/jupyter_desktop/setup.py
napari-training-course-master/jupyter_desktop/share/Fiji.desktop
napari-training-course-master/jupyter_desktop/share/xstartup
napari-training-course-master/lessons/00_bioimage_visualization.ipynb
napari-training-course-master/lessons/01_manual_annotation.ipynb
napari-training-course-master/lessons/02_interactive_analysis.ipynb
napari-training-course-master/lessons/VisualizeLLSMdata.ipynb
napari-training-course-master/lessons/data/cell_membranes.tif
napari-training-course-master/lessons/data/nuclei.tif
napari-training-course-master/lessons/resources/napari-layer-types.png
napari-training-course-master/lessons/resources/napari-logo.png
